.tudo{
    border: 1px solid;
    border-radius: 20px;
    background-Color: var(--cor-5);
    border: 1px solid var(--cor-3);
}
.adesivo{
    color: var(--cor-3);
}
img{
    border:2px solid var(--cor-3);
    border-radius: 20%;
}
h1{
    color: var(--cor-1);
}