.tudoHeader {
    display: inline-flex;
    background-Color: var(--cor-5);
    width: 100%;
    height: 50%;
    text-align: center;
    border: 1px solid black;
    border-radius:20px;

}
.imgHeader{
    width: 10%;
    height: 10%;
}
.buttonlocal{
    border-radius: 10px;
    height: 100%;
    margin-left: 85%;
}
.button{
    background-color: #e23e57;
}