/* <!--<<<<<<<[ tela final ]>>>>>>>--> */
.telaFinal{
    background-color: #024959;
    width: 100%;
    height: max-content; 
    display: block;
}
.espaçoCorFim{
    border: 1px solid #5C868F;
    width:  90%;
    height: 0%;
    margin: auto;
}
.textFinal{
    margin-left: 4%;
}

.corbotão{
    text-align: center;
    color: #d9d9d9;
    background-color: #024959;
    border: 1px solid #024959;
    border-radius: 20%;
    width: max-content;
    height: max-content; 
}
.imgFim{
    width: max-content;
    height: 0%;
}
.final{
    margin-left: 4%;
    display: inline-flex;
}
.corTextFinal{
    color: #d9d9d9;
}