.tudoCadastro {
  display: inline-flex;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -24%;
  font-family: "Poppins", sans-serif;
}

/* tudo */

.parteAzul {
  width: 100%;
  height: 100%;
  background-color: #024959;
  border-radius: 1%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.imagemscadastrar {
  width: 60%;
  height: 50%;
}

/* tela branca funcional*/
.parteBranca {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 1%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.cadastrar {
  height: 25%;
  margin-top: -3%;
  margin-right: 50%;
  color: darkgrey;
}.Cadastre-se {
  font-weight: 100;
  margin-left: -2%;
  color: #024959;
  margin-bottom: -3%;
}

.partesInputsUmDois {
  display: inline-flex;
  align-items: center;
  color: black;
  width: 90%;
  height: 90%;
  margin-top: -15%;
}

.parteUmInpus {
  align-items: start;
  width: 100%;
  height: 60%;
}.parteDoisInpus {
  margin-left: 10%;
  align-items: end;
  width: 100%;
  height: 60%;
}

.inputsLocal {
  align-items: start;
  margin-top: 5%;
}

.tamanhoInputs {
  background-color: #FFFFFF;
  color: black;
  border: none;
  outline: 0;
  border-radius: 15px;
  width: 110%;
  height: 35px;
  text-align: start;
  padding-left: 10px;
}
.olhos{
  width: 30%;
}
.imgTipo{
  margin-left: 1%;
  width: 7%;
  height: 7%;
}
.checkboxPCD{
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-top: -8%;
  margin-bottom: 5%;
  margin-left: 5%;
  color: black;
  width: 40%;
  text-align: start;
}.imgPCD{
  margin-left: 2%;
  width: 7%;
  height: 7%;
}
.inputsCheckbox{
  background-color: #ffff;
  color: #FFFFFF;
  border:1px solid #FFFFFF;
}
.labelCheckbox{
  margin-left: -12%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.btLocal{
  margin-left: 10%;
  align-items: center;
}
.btCadastrar{
  margin-left: 20%;
  width: 50%;
  background-color: #024959;
  color: #FFFFFF;
  transform: scale(1.1); 
  transition: 1s;
}
.btCadastrar:hover{
  transform: scale(1.1); 
  transition: 1s;
  width: 55%;
  border:1px solid #024959;
  background-color: #d9d9d9;
  color: #024959;
}

.tudoInputsCheckBT{
  margin-top: 1%;
  margin-left: 3%;
  width: 95%;
  height: 100%;
}

.btVoltarIMG{
  position: absolute;
  margin-top: 2%;
  margin-left: -40%;
  width: 6%;
  height: 10%;
  border-radius: 45%;
  background-color: #024959;
  color: #FFFFFF;
}
.btSenha{
  position: absolute;
  margin-top: -2.8%;
  margin-left: 18%;
  background-color: #FFFFFF;
  color: black;
  border: none;
  border-radius: 10px;
}
