.NavBar{

   
   border:  hidden ;
   box-shadow: 4px 4px 6px rgb(117, 117, 117);
   width: 100%;
   background-color: #024959;
   padding-top: 1%;
   padding-bottom: 1%;
   
   
   
   


}

body{

margin: 0;
background-color: #D9D9D9 ;

}

.LogoInklua{

width: 8%;
margin-left: 46%;
}

.InfosUser{

   font-family: "Poppins", sans-serif;
   font-weight: 100;
   font-style: normal;
   font-size: 25px;
   
   
   


}

.PerfilUser{

display: inline-block;
padding: 50px;
box-shadow: 1px 1px 10px;
margin-left: 35%;
text-align: center;
margin-top: 10%;
margin-bottom: 10%;
height: 600px;

border-radius: 10px;
background-color: #024959;


}

.FotoPerfil{
width: 60px;
height: 60px;
border: hidden;
border-radius: 50%;
padding: 50px;
margin-left: 20%;
box-shadow:  1px 1px 8px;
background-color: #D9D9D9;
background-image: url(img\ logo\ perfil.png);
background-size: cover;


}



.Home{

   width: 130px;
   height: 30px;
   font-size: 20px;
   border-radius: 5px;
   margin-left: 20px;
   background-color: #D9D9D9;
   border: hidden;
   text-decoration: none;
   color: black;
   font-family: "Poppins", sans-serif;
   padding: 5px;

}

.BioUser{
box-shadow: 1px 1px 10px;
height: 100px;
margin-top: 10%;
margin-bottom: 10%;
border-radius: 5px;
background-color: #D9D9D9;
font-family: "Poppins", sans-serif;

}

.boxInfo{

margin-top: 10%;
margin-bottom: 10%;
background-color: #D9D9D9;
box-shadow: 1px 1px 10px;
border-radius: 5px;
padding: 10px;
}

.EditarPerfil{

   width: 130px;
   height: 30px;
   font-size: 20px;
   border-radius: 5px;
  
   background-color: #D9D9D9;
   border: hidden;
   text-decoration: none;
   color: black;
   font-family: "Poppins", sans-serif;
   padding: 5px;


}

.NewName{

   margin-top: 10%;
   margin-bottom: 10%;
   background-color: #D9D9D9;
   box-shadow: 1px 1px 10px;
   border-radius: 5px;
   padding: 10px;


}

.InptNameUser{


   font-family: "Poppins", sans-serif;
   font-weight: 100;
   font-style: normal;
   font-size: 17px;
   border: hidden;
   background-color: #D9D9D9;
   width: 100%;
   outline: 0;
   


}

.editBio{

background-color: #D9D9D9;
border: hidden;
width: 98%;
border-radius: 10px;
outline: 0;
height: 100%;
font-family: "Poppins", sans-serif;
min-width: 265.98px;
min-height: 96%;
max-width: 265.98px;
max-height: 96%;

}
