.App {
  font-family: Arial, sans-serif;
  max-width: 60%;
  justify-items: center;
  padding-left: 20%;
}
/* Estilos do Carrossel */
.carrosselIMG{
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
}
.carrossel{
  position: relative;
  width: 150%;
  overflow: hidden;
  margin: 20px 0;
}

.carrossel-conteudo {
  display: flex;
  transition: transform 0.5s ease;
}

.carrossel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.carrossel-item .imgs123{
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carrossel-item {
  margin-top: 10px;
  color: #333;
}

.carrossel-botao {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.carrossel-botao.anterior {
  left: 10px;
}

.carrossel-botao.proximo {
  right: 10px;
}

/* Estilos da Lista de Shows e Festivais */
.lista-eventos {
  margin-top: 10px;
}

.cartoes-shows, .cartoes-festivais {
  display: inline-flex;
  gap: 15px;
}

.cartao {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 0%5%;
  max-width: 5%;
  max-height: 0%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}
.espacoShowFestivais{
  margin-left: 2%;
}
